<%- include("partials/header"); -%>

  <h1>💀OOPS!!</h1>
  <h3>Post with this title exists already‼</h3><br>
  <h4><b>For consistency across the blog and to avoid confusion, please reset the title to a different one<b></h4>

<%- include("partials/footer"); -%>
