<%- include('header') %>

<h3>Vote freely with our secure and authentic app to finally decide which flavour of ice-cream is the best!!</h3>
	
	<h5>Lets get you logged in first, to maintain authenticity of results</h5>

	<div class="login">
		<a href="/auth/google">
			<img src="google.png">
			<p>Google</p>
		</a>
		<a href="/auth/facebook">
			<img src="facebook.png">
			<p>Facebook</p>
		</a>
	</div>

<%- include('footer') %>