<%- include('header') %>

<div class="message">
		<section class="oops">OOPS!</section><hr>
		<section class="warning">The login was unsuccessful. Kindly try again</section><hr><hr>
		<button onclick="location.href='./'">Try again</button>
	</div>

<%- include('footer') %>